<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light">Jawas Restaurant</div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="dashboard">Home</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="orders">Orders</a>
            <a class="list-group-item list-group-item-action list-group-item-dark p-3" href="">Menu</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="settings">Settings</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Profile</a>
        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <button class="btn" id="sidebarToggle"><span class="navbar-toggler-icon"></span></button>

            </div>
        </nav>
        <!-- Page content-->
        <div class="container-fluid">

            <div class="col-xl-8 col-lg-12 mt-3 d-grid gap-2">

                <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                    aria-expanded="false" aria-controls="collapseExample">
                    Burgers (12)
                </button>


                <div class="table-responsive text-nowrap collapse" id="collapseExample">
                    <table class="table table-sm">
                        <thead>
                            <tr class="text-muted">
                                <th>Order ID</th>
                                <th>Status</th>
                                <th>Amount</th>
                                <th>Customer</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="javascript:void(0)" class="text-muted" style="text-decoration: none;">Order
                                        #26589</a></td>
                                <td><span class="badge bg-success">Paid</span>
                                <td>&#8377;45.00</td>
                                <td>Herman Beck</td>
                                <td class="text-muted">Oct 16, 2017</td>
                                </td>
                            </tr>

                            <tr>
                                <td><a href="javascript:void(0)" class="text-muted" style="text-decoration: none;">Order
                                        #26589</a></td>
                                <td><span class="badge bg-danger">Food ready</span>
                                <td>&#8377;45.00</td>
                                <td>Herman Beck</td>
                                <td class="text-muted">Oct 16, 2017</td>
                                </td>
                            </tr>

                            <tr>
                                <td><a href="javascript:void(0)" class="text-muted" style="text-decoration: none;">Order
                                        #26589</a></td>
                                <td><span class="badge bg-success">Paid</span>
                                <td>&#8377;45.00</td>
                                <td>Herman Beck</td>
                                <td class="text-muted">Oct 16, 2017</td>
                                </td>
                            </tr>


                            <tr>
                                <td><a href="javascript:void(0)" class="text-muted" style="text-decoration: none;">Order
                                        #26589</a></td>
                                <td><span class="badge bg-secondary">Cancelled</span>
                                <td>&#8377;45.00</td>
                                <td>Herman Beck</td>
                                <td class="text-muted">Oct 16, 2017</td>
                                </td>
                            </tr>

                            <tr>
                                <td><a href="javascript:void(0)" class="text-muted" style="text-decoration: none;">Order
                                        #26589</a></td>
                                <td><span class="badge bg-success">Paid</span>
                                <td>&#8377;45.00</td>
                                <td>Herman Beck</td>
                                <td class="text-muted">Oct 16, 2017</td>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

<button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#juice"
                    aria-expanded="false" aria-controls="juice">
                    Juice (6)
                </button>

                <div class="table-responsive text-nowrap collapse" id="juice">
                    <table class="table table-sm">
                        <thead>
                            <tr class="text-muted">
                                <th>Order ID</th>
                                <th>Status</th>
                                <th>Amount</th>
                                <th>Customer</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="javascript:void(0)" class="text-muted" style="text-decoration: none;">Order
                                        #26589</a></td>
                                <td><span class="badge bg-success">Paid</span>
                                <td>&#8377;45.00</td>
                                <td>Herman Beck</td>
                                <td class="text-muted">Oct 16, 2017</td>
                                </td>
                            </tr>

                            <tr>
                                <td><a href="javascript:void(0)" class="text-muted" style="text-decoration: none;">Order
                                        #26589</a></td>
                                <td><span class="badge bg-danger">Food ready</span>
                                <td>&#8377;45.00</td>
                                <td>Herman Beck</td>
                                <td class="text-muted">Oct 16, 2017</td>
                                </td>
                            </tr>

                            <tr>
                                <td><a href="javascript:void(0)" class="text-muted" style="text-decoration: none;">Order
                                        #26589</a></td>
                                <td><span class="badge bg-success">Paid</span>
                                <td>&#8377;45.00</td>
                                <td>Herman Beck</td>
                                <td class="text-muted">Oct 16, 2017</td>
                                </td>
                            </tr>


                            <tr>
                                <td><a href="javascript:void(0)" class="text-muted" style="text-decoration: none;">Order
                                        #26589</a></td>
                                <td><span class="badge bg-secondary">Cancelled</span>
                                <td>&#8377;45.00</td>
                                <td>Herman Beck</td>
                                <td class="text-muted">Oct 16, 2017</td>
                                </td>
                            </tr>

                            <tr>
                                <td><a href="javascript:void(0)" class="text-muted" style="text-decoration: none;">Order
                                        #26589</a></td>
                                <td><span class="badge bg-success">Paid</span>
                                <td>&#8377;45.00</td>
                                <td>Herman Beck</td>
                                <td class="text-muted">Oct 16, 2017</td>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                
            </div>



        </div>
    </div>
</div>