<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light">Jawas Restaurant</div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="dashboard">Home</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="orders">Orders</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="menu">Menu</a>
            <a class="list-group-item list-group-item-action list-group-item-dark p-3" href="">Settings</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Profile</a>
        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <button class="btn" id="sidebarToggle"><span class="navbar-toggler-icon"></span></button>

            </div>
        </nav>
        <!-- Page content-->
        <div class="container-fluid">
            <div class="col-12 col-xl-8 mt-3">


                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-sm-6 p-2">
                            <div class="col-12 card p-2">

                                <h5>Delivery</h5>
                                <div class="input-group mb-3">
                                    <button class="btn btn-danger dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">Busy</button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Busy</a></li>
                                        <li><a class="dropdown-item" href="#">Temporarily Closed</a></li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 p-2">
                            <div class="col-12 card p-2">
                                <h5>Pickup</h5>
                                <div class="input-group mb-3">
                                    <button class="btn btn-success dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">Available</button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Busy</a></li>
                                        <li><a class="dropdown-item" href="#">Temporarily Closed</a></li>
                                    </ul>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


<div class="col-12 col-xl-8 mt-4 card">
    <div class="card-header">
        <h5 class="card-title">Delivery Settings</h5>
    </div>
    <div class="card-body">

    </div>
</div>

<div class="col-12 col-xl-8 mt-4 card">
    <div class="card-header">
        <h5 class="card-title">Pickup Settings</h5>
    </div>
    <div class="card-body">
        
    </div>
</div>

<div class="col-12 col-xl-8 mt-4 card">
    <div class="card-header">
        <h5 class="card-title">Restaurant Settings</h5>
    </div>
    <div class="card-body">
        
    </div>
</div>





        </div>
    </div>
</div>